@import '../../../config-scss/rem-calc.scss';

:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem-calc(40);

    .wall{
        border-radius: rem-calc(10);
        margin-bottom: rem-calc(20);
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.5);
    }

    h1{
        font-size: rem-calc(22);
        font-weight: 700;
        color: var(--branco);
    }
}